.product {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.product-img {
    height: 300px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.product p {
    margin: 0;
    ;
}

.btn-upd {
    border: none;
    padding: 10px 48px;
    border-radius: 5px;
    margin-top: 12px;
    font-size: 18px;
    color: midnightblue;
}
.btn-upd:hover{
    color: white;
    background-color: #105CAA;
    transition: .5s;
}